        {% extends 'aplicacion/base.html' %}
        {% load static %}
        {% block titulo %}
        Acerca de mí
        {% endblock titulo %}
        {% block acerca %}
        <!-- Contacto-->
        <section class="contact-section bg-black">
            <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5"><h3>Hola mi nombre es Joel Miranda, soy de Mendoza, Argentina y tengo 32 años. Soy estudiante de "Programación en Python Intensivo" en la escuela digital "Coderhouse", comisión "43865"<br>A continuación mis contactos:</h3></div>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h2 class="text-uppercase m-0">Dirección</h2>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">P. Vargas 16, Godoy Cruz, Mendoza, Argentina</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h2 class="text-uppercase m-0">Email</h2>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">joelhernanmiranda@gmail.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h2 class="text-uppercase m-0">Celular</h2>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">+54 (0261) 156806234</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://twitter.com/ColoSOAD?t=MNAf6J1jHFYioJQOYcZH2Q&s=09"><i class="fab fa-twitter" style="color: #f4f5f6;"></i></a>
                    <a class="mx-2" href="https://www.facebook.com/colo.soad.3/"><i class="fab fa-facebook-f" style="color: #f4f5f6;"></i></a>
                    <a class="mx-2" href="https://www.instagram.com/colosoad/"><i class="fab fa-instagram" style="color: #f4f5f6;"></i></a>
                    <a class="mx-2" href="https://www.threads.net/@colosoad"><i class="fa-brands fa-threads" style="color: #f4f5f6;"></i></a>
                    <a class="mx-2" href="https://github.com/ColoSoad"><i class="fab fa-github" style="color: #f4f5f6;"></i></a>
                    <a class="mx-2" href="https://www.linkedin.com/in/joel-miranda-040122287/"><i class="fab fa-linkedin" style="color: #f4f5f6;"></i></a>
                    
                </div>
            </div>
        {% endblock acerca %}